/* Optional: Makes the sample page fill the window. */
html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body {
  background: url(city_background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top center;
}
main {
  flex: 1 0 auto;
}
#mapContainer {
  width: 100%;
  margin-left: -14px !important;
}
#searchFormEl {
  display: inline-block;
  width: 90%;
}
/* h5 {
  font-size: 2.2rem !important;
} */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 715px;
  position: inline block;
  overflow: hidden;
}
#cityDetails:first-child {
  padding-top: 10px;
  padding-left: 6px;
}
#citySummary {
  min-height: 170px;
}
#logo {
  font-size: 3.1rem;
  margin-top: 20px;
  padding-left: 6px;
  font-family: "Bangers", cursive;
}
#mainNav {
  min-height: 67px;
}
/* Optional: Makes the sample page fill the window. */

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

#usefulFactoids {
  min-height: 450px;
}
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  padding-left: 15px;

  text-overflow: ellipsis;
}

#citySummary {
  font-size: large;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#pac-input:hover {
  border: solid;
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

#copyright {
  left: 50%;
  transform: translateX(-50%);
}
#pages {
  min-height: 100vh;
}

#landingSearchCont {
  text-align: center;
}
#pac-input.landingSearchBox {
  width: 95%;
}
.rounded {
  border-radius: 4px;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  padding-top: 20px;
}
.pac-item-query {
  font-size: large;
}

.pac-controls {
  /* display: inline-block; */
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.center #landingPage {
  width: 25%;
  display: grid;
  place-items: center;
  justify-content: center;
}

.box {
  flex: 1 1 150px;
}

.onSearchPage:hover {
}
.rounded {
  border-radius: 4px !important;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  padding-top: 20px;
}
.pac-controls {
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.bold-text {
  font-weight: bold;
}

.divider {
  margin-top: -9px !important;
  margin-bottom: -4px;
}

.btn {
  letter-spacing: 4.5px;
  border-radius: 5px;
  height: 47px;
  line-height: 47px;
  transform: translateX(0%);
}

/* Margin */
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}

/* Margin Top */

/* Margin Bottom */
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
/* Margin Top */
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

/* Margin Left */
.ml-1 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
/* Margin Right */
.mr-1 {
  margin-right: 1rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.mr-4 {
  margin-right: 4rem !important;
}
/* Padding */
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
/* Padding Right */
.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 2rem;
}
